<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPT API Pricing Calculator - Calculate Costs for Large Language Model API Calls</title>
    <meta name="description"
        content="Calculate the costs of using different large language models for your API calls. Estimate prices for input and output tokens and compare models.">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/htmx.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/heroicons@2.0.16/dist/heroicons.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(135deg, #1a202c, #2d3748);
            color: #f7fafc;
        }

        .bg-white {
            background: linear-gradient(100deg, #4a5568, #38424f);
        }

        .selected {
            border-color: #63b3ed !important;
        }

        .text-gray-800 {
            color: #e2e8f0;
        }

        .text-gray-600 {
            color: #cbd5e0;
        }

        .text-gray-700 {
            color: #a0aec0;
        }

        .border {
            border-color: #4a5568;
        }

        .bg-gray-50 {
            background: linear-gradient(135deg, #4a5568, #718096);
        }

        .text-gray-500 {
            color: #a0aec0;
        }

        .divide-gray-200>*+* {
            border-color: #4a5568;
        }

        .hover\:bg-gray-100:hover {
            background: linear-gradient(135deg, #718096, #4a5568);
        }

        .faq .question {
            font-weight: 600;
            color: #e2e8f0;
            margin-bottom: 0.5rem;
        }

        .faq .answer {
            color: #cbd5e0;
            margin-bottom: 1.5rem;
        }
    </style>
</head>

<body class="font-inter">
    <header class="container mx-auto px-4 pt-8">
        <h1 class="text-4xl font-bold text-gray-100 mb-2">GPT API Pricing Calculator</h1>
        <h2 class="text-xl text-gray-300">Compare costs between different large language models based on input/output
            tokens.</h2>
    </header>
    <main>

        <section class="container mx-auto px-4 py-8">
            <form>
                <div class="bg-white shadow-lg rounded-lg p-8">
                    <h2 class="text-2xl font-semibold text-gray-100 mb-6">Enter your prompt</h2>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                        <div>
                            <label for="input_message" class="block text-gray-300 font-bold mb-2">Input</label>
                            <textarea id="input_message" name="input_message"
                                class="w-full px-4 py-3 text-gray-300 bg-gray-800 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                                rows="6" placeholder="Enter input to the LLM" hx-post="/calc/tokens"
                                hx-target="#calc-unit-results-input" hx-trigger="input"
                                onfocus="this.select()">Here goes the input to the LLM</textarea>
                            <div id="calc-unit-results-input" class="mt-4">
                                <p><strong class="text-gray-100">{{ units[0].input }}</strong> <span
                                        class="text-gray-400">{{ units[0].unit.value }}</span></p>
                                <p><strong class="text-gray-100">{{ units[1].input }}</strong> <span
                                        class="text-gray-400">{{ units[1].unit.value }}</span></p>
                            </div>
                        </div>
                        <div>
                            <label for="output_message" class="block text-gray-300 font-bold mb-2">Output</label>
                            <textarea id="output_message" name="output_message"
                                class="w-full px-4 py-3 text-gray-300 bg-gray-800 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                                rows="6" placeholder="Enter output of the LLM" hx-post="/calc/tokens"
                                hx-target="#calc-unit-results-output" hx-trigger="input"
                                onfocus="this.select()">Here goes the output of the LLM</textarea>
                            <div id="calc-unit-results-output" class="mt-4">
                                <p><strong class="text-gray-100">{{ units[0].output }}</strong> <span
                                        class="text-gray-400">{{ units[0].unit.value }}</span></p>
                                <p><strong class="text-gray-100">{{ units[1].output }}</strong> <span
                                        class="text-gray-400">{{ units[1].unit.value }}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-8">
                        <label for="api_calls" class="block text-gray-300 font-bold mb-2">Number of API calls</label>
                        <input id="api_calls"
                            class="w-full px-4 py-3 text-gray-300 bg-gray-800 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                            type="number" name="api_calls" value="1" placeholder="Enter number of inferences"
                            hx-post="/calc/tokens" hx-target="#calc-unit-results-input" hx-trigger="input"
                            onfocus="this.select()" required>
                    </div>
                </div>
            </form>
        </section>
        <section class="container mx-auto px-4 py-8">
            <h2 class="text-2xl font-semibold text-gray-100 mb-8">Pinned Models</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-700">
                    <thead class="bg-gray-700 text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Model</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Input Price</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Output Price</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Cost / API call</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Total</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="pinned-models" class="bg-gray-900 divide-y divide-gray-700">
                        {% for cost in pinned_costs %}
                        <tr class="{{ bgColor }} hover:bg-gray-800">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <img src="../static/images/{{ cost.model.provider.value }}.png"
                                    alt="{{ cost.model.provider.value }} logo"
                                    class="h-8 w-8 rounded-full bg-gray-300 p-1">
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-300">{{ cost.model.name }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-400">
                                {{ "$%.5f"|format(cost.model.input_price) }} <span class="text-gray-500">/ 1k {{
                                    cost.model.unit.value }}</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-400">
                                {{ "$%.5f"|format(cost.model.output_price) }} <span class="text-gray-500">/ 1k {{
                                    cost.model.unit.value }}</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-400">{{ "$%.5f"|format(cost.cost) }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-300">{{ "$%.5f"|format(cost.total) }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <form hx-post="/unpin-model" hx-target="#pinned-models">
                                    <input type="hidden" name="model" value="{{ cost.model.name }}">
                                    <button class="text-red-500 hover:text-red-600 inline-block align-middle">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                          </svg>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="container mx-auto px-4 py-12">
            <h2 class="text-2xl font-semibold text-gray-100 mb-8">All Models</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-700">
                    <thead class="bg-gray-700 text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Model</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Input Price</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Output Price</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Cost / API call</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                                Total</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="calc-results" class="bg-gray-900 divide-y divide-gray-700">
                        {% for cost in costs %}
                        <tr class="{{ bgColor }} hover:bg-gray-800">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <img src="../static/images/{{ cost.model.provider.value }}.png"
                                    alt="{{ cost.model.provider.value }} logo"
                                    class="h-8 w-8 rounded-full bg-gray-300 p-1">
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-300">{{ cost.model.name }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-400">
                                {{ "$%.5f"|format(cost.model.input_price) }} <span class="text-gray-500">/ 1k {{
                                    cost.model.unit.value }}</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-400">
                                {{ "$%.5f"|format(cost.model.output_price) }} <span class="text-gray-500">/ 1k {{
                                    cost.model.unit.value }}</span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-400">{{ "$%.5f"|format(cost.cost) }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-300">{{ "$%.5f"|format(cost.total) }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <form hx-post="/pin-model" hx-target="#pinned-models">
                                    <input type="hidden" name="model" value="{{ cost.model.name }}">
                                    <button class="text-indigo-500 hover:text-indigo-600 inline-block align-middle">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>                                 
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer class="text-center py-6 text-gray-400">
        <p>&copy; 2024 GPT API Pricing. All rights reserved.</p>
    </footer>
    <script>
        document.body.addEventListener('htmx:afterSwap', function (event) {
            if (event.detail.target.id === 'calc-unit-results-input' || event.detail.target.id === 'calc-unit-results-output'
                || (event.detail.target.id === 'pinned-models' && document.querySelector('#pinned-models').children.length == 0)) {
                var inputMessage = document.querySelector('textarea[name="input_message"]').value;
                var outputMessage = document.querySelector('textarea[name="output_message"]').value;
                var apiCalls = document.querySelector('input[name="api_calls"]').value;
                htmx.ajax('POST', '/calc/messages', {
                    target: '#calc-results',
                    values: {
                        input_message: inputMessage,
                        output_message: outputMessage,
                        api_calls: apiCalls
                    }
                });
                htmx.ajax('POST', '/update-pinned-models', {
                    target: '#pinned-models',
                    values: {
                        input_message: inputMessage,
                        output_message: outputMessage,
                        api_calls: apiCalls
                    }
                });
            }
        });

        document.querySelectorAll('textarea, input').forEach(function (element) {
            element.addEventListener('focus', function () {
                this.classList.add('selected');
            });
            element.addEventListener('blur', function () {
                this.classList.remove('selected');
            });
        });
    </script>
</body>

</html>