<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPT API Pricing Calculator - Calculate Costs for Large Language Model API Calls</title>
    <meta name="description"
        content="Calculate the costs of using different large language models for your API calls. Estimate prices for input and output tokens and compare models.">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/htmx.min.js"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(135deg, #1f2937, #111827);
            color: #f9fafb;
        }

        .bg-white {
            background: linear-gradient(135deg, #374151, #1f2937);
        }

        .selected {
            border-color: #60a5fa !important;
        }

        .text-gray-800 {
            color: #e5e7eb;
        }

        .text-gray-600 {
            color: #d1d5db;
        }

        .text-gray-700 {
            color: #9ca3af;
        }

        .border {
            border-color: #4b5563;
        }

        .bg-gray-50 {
            background: linear-gradient(135deg, #374151, #1f2937);
        }

        .text-gray-500 {
            color: #6b7280;
        }

        .divide-gray-200>*+* {
            border-color: #374151;
        }

        .hover\:bg-gray-100:hover {
            background: linear-gradient(135deg, #4b5563, #374151);
        }

        .faq .question {
            font-weight: 600;
            color: #e5e7eb;
            margin-bottom: 0.5rem;
        }

        .faq .answer {
            color: #d1d5db;
            margin-bottom: 1.5rem;
        }
    </style>
</head>

<body class="font-inter">
    <header class="container mx-auto px-4 pt-8">
        <h1 class="text-3xl font-bold text-gray-100">GPT API Pricing Calculator</h1>
        <h2 class="text-xl text-gray-300 mt-2">Compare costs between different large language models based on
            input/output tokens.</h2>
    </header>
    <main>
        <form>
            <section class="container mx-auto px-4 py-8">
                <div class="bg-white shadow-md rounded-lg p-6">
                    <h1 class="text-xl font-semibold text-gray-100 mb-4">Enter your prompt</h1>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <label for="input_message" class="block text-gray-300 font-bold mb-2">Input</label>
                            <textarea id="input_message" name="input_message"
                                class="w-full px-3 py-2 text-gray-300 bg-gray-800 border rounded-lg focus:outline-none"
                                rows="4" placeholder="Enter input to the LLM" hx-post="/update" hx-target="body"
                                hx-trigger="input">{{ input_message }}</textarea>
                            <div id="calc-unit-results-input">
                                <p><strong class="has-text-grey-dark">{{ units[0].input }}</strong> <span
                                        class="has-text-grey">{{ units[0].unit.value }}</span></p>
                                <p><strong class="has-text-grey-dark">{{ units[1].input }}</strong> <span
                                        class="has-text-grey">{{ units[1].unit.value }}</span></p>
                            </div>
                        </div>
                        <div>
                            <label for="output_message" class="block text-gray-300 font-bold mb-2">Output</label>
                            <textarea id="output_message" name="output_message"
                                class="w-full px-3 py-2 text-gray-300 bg-gray-800 border rounded-lg focus:outline-none"
                                rows="4" placeholder="Enter output of the LLM" hx-post="/update" hx-target="body"
                                hx-trigger="input">{{ output_message }}</textarea>
                            <div id="calc-unit-results-output">
                                <p><strong class="has-text-grey-dark">{{ units[0].output }}</strong> <span
                                        class="has-text-grey">{{ units[0].unit.value }}</span></p>
                                <p><strong class="has-text-grey-dark">{{ units[1].output }}</strong> <span
                                        class="has-text-grey">{{ units[1].unit.value }}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 mt-4">
                        <label for="api_calls" class="block text-gray-300 font-bold mb-2">Number of API calls</label>
                        <input id="api_calls"
                            class="w-full px-3 py-2 text-gray-300 bg-gray-800 border rounded-lg focus:outline-none" name="api_calls" value="{{ api_calls }}" min="1"
                            placeholder="Enter number of API calls" hx-post="/update" hx-target="body"
                            hx-trigger="input" required>
                    </div>
                    <div class="mb-4">
                        <label for="pricing_unit" class="block text-gray-300 font-bold mb-2">Select price unit</label>
                        <select id="pricing_unit" name="pricing_unit"
                            class="w-full px-3 py-2 text-gray-300 bg-gray-800 border rounded-lg focus:outline-none"
                            hx-post="/update" hx-target="body" hx-trigger="change" required>
                            {% if pricing_unit.name == pricing_unit.thousand.name %}
                            <option value="{{ pricing_unit.thousand.name }}" selected>Per 1K tokens</option>
                            <option value="{{ pricing_unit.million.name }}">Per 1M tokens</option>
                            {% else %}
                            <option value="{{ pricing_unit.thousand.name }}">Per 1K tokens</option>
                            <option value="{{ pricing_unit.million.name }}" selected>Per 1M tokens</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </section>
            <section class="container mx-auto px-4 py-8">
                <h2 class="text-xl font-semibold text-gray-100 mb-4">LLM API Costs Comparison</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-700">
                        <thead class="bg-gray-800">
                            <tr>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Model</th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Input Price</th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Output Price</th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Cost / API call</th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Total</th>
                            </tr>
                        </thead>
                        <tbody id="calc-results" class="bg-gray-900 divide-y divide-gray-700">
                            {% for cost in costs %}
                            {%if pricing_unit.name == pricing_unit.thousand.name %}
                            {% set pricingUnitAbbreviation = "1K" %}
                            {% else %}
                            {% set pricingUnitAbbreviation = "1M" %}
                            {% endif %}
                            <tr class="{{ bgColor }}">
                                <td class="px-6 py-4 whitespace-nowrap"> <img
                                        src="../static/images/{{ cost.model.provider.value }}.png"
                                        alt="{{ cost.model.provider.value }} logo"
                                        class="h-8 w-8 rounded-full bg-gray-100 p-1"> </td>
                                <td class="px-6 py-4 whitespace-nowrap text-gray-300">{{ cost.model.name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-gray-400">{{
                                    "$%s"|format(cost.input_price) }} <span class="text-gray-500">/ {{ pricingUnitAbbreviation }} {{
                                        cost.model.unit.value }}</span></td>
                                <td class="px-6 py-4 whitespace-nowrap text-gray-400">{{
                                    "$%s"|format(cost.output_price) }} <span class="text-gray-500">/ {{ pricingUnitAbbreviation }} {{
                                        cost.model.unit.value }}</span></td>
                                <td class="px-6 py-4 whitespace-nowrap text-gray-400">{{ "$%s"|format(cost.cost) }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-gray-300">{{ "$%s"|format(cost.total) }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="container mx-auto px-4 py-8">
                <div class="bg-white shadow-md rounded-lg p-6">
                    <h2 class="text-xl font-semibold text-gray-100 mb-4">Frequently Asked Questions</h2>
                    <div class="faq">
                        <div class="question">What is the GPT API Pricing calculator?</div>
                        <div class="answer">The GPT API Pricing calculator is a tool that helps you estimate the costs
                            of
                            using different large language models for your inferences. It calculates the prices based on
                            input and output tokens and provides a comparison of various models and providers.</div>
                        <div class="question">How do I use the GPT API Pricing calculator?</div>
                        <div class="answer">To use the LLM Calculator, simply enter your input and output messages in
                            the
                            respective text areas, specify the number of inferences, and the calculator will display the
                            estimated costs for different language models automatically.</div>
                        <div class="question">Which large language models are displayed here?</div>
                        <div class="answer">Various large language model providers are displayed here. Picks are based
                            on
                            the top 10 of the <a
                                href="https://huggingface.co/spaces/lmsys/chatbot-arena-leaderboard">LMSYS
                                Chatbot Arena Leaderboard</a>.</div>
                        <div class="question">Are the prices accurate?</div>
                        <div class="answer">The prices shown here are estimates based on the information provided by the
                            websites of the large language model providers. While we strive to keep the prices up to
                            date,
                            it's always recommended to refer to the official pricing documentation of each provider for
                            the
                            most accurate and current pricing information.</div>
                        <div class="question">Is it safe to enter my prompts?</div>
                        <div class="answer">Yes, it is safe to enter your prompt in the GPT API Pricing calculator. The
                            prompts are solely used solely for calculating the costs of using different language models
                            and
                            is not stored or shared with any third parties. Your privacy and data security are our top
                            priorities.</div>
                    </div>
                </div>
            </section>
        </form>
    </main>
    <footer class="text-center py-4 text-gray-400">
        <p>GPT API Pricing &copy; 2024. All rights reserved.</p>
    </footer>
</body>

</html>